<!DOCTYPE html>
<html>
<body>
<div class="grid-container" id="bgContainer">
  <div class="textArea titleArea" id="titleArea"></div>
  <div class="cArea cItem"><div class="frame"><img src id="core" /></div></div>
  <div class="empty"></div><div class="textArea cost"><h5>Capacity (Current/Max): </h5><p id="currentCapacity"></p><p>/</p><p id="maxCapacity"></p></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap11"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap12"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap13"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap21"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap22"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap23"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap31"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap32"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ap33"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="pp1"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="pp2"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="pp3"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ch1"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ch2"></div>
  <div class="aItem"><img src="modules/custom-journal/styles/icons/common/arrow.png" /></div><div class="gItem" id="ch3"></div>
  <div class="empty"></div><div class="empty"></div><div class="empty"></div><div class="empty"></div><div class="gItem bonus" id="b1"></div>
  <div class="empty"></div><div class="gItem bonus" id="b2"></div>
  <div class="textArea tItem" id="tItem"></div>


  <div class="textArea iItem">
	<div class="clearTextArea" id="WeaponName"></div>
	<div class="clearTextArea" id="baseText"></div>
	<div class="clearTextArea" id="bonusName"></div>
	<div class="clearTextArea" id="bonus"></div>
	<div class="clearTextArea" id="ppName"></div>
	<div class="clearTextArea" id="pp"></div>
	<div class="clearTextArea" id="chName"></div>
	<div class="clearTextArea" id="ch"></div>
	<div class="clearTextArea" id="AbilitiesTitle"></div>
	<div class="clearTextArea" id="ap1Name"></div>
	<div class="clearTextArea" id="ap1"></div>
	<div class="clearTextArea" id="ap2Name"></div>
	<div class="clearTextArea" id="ap2"></div>
	<div class="clearTextArea" id="ap3Name"></div>
	<div class="clearTextArea" id="ap3"></div>
  </div>
</div>
</body>
</html>
