body {
    --template-dark-accent-color: #061a5e;
    --template-base-accent-color: #002394;
    --template-light-accent-color: #1b47d6;
    --template-translucent-accent-color: #00239440;
    --template-header-color: #bfbfbf;
    --template-base-text-color: #bfbfbf;
    --template-link-color: #3b56b1;
    --template-link-visited-color: #405494;
    --template-window-text-color: #bfbfbf;
    --template-button-background-color: #1a1a1a;
    --template-button-hover-color: #272727;
    --template-background-color: #a5afb4bb;
    --template-background-texture-image: url(../textures/dark-background-1.jpg);
}

.grid-container {
  display: grid;
  grid-template-areas:
    'titleArea 	titleArea titleArea titleArea titleArea titleArea titleArea infoArea'
	'.		 	cost cost cost cost cost cost								infoArea'
    'coreItem 	. . . . . . 												infoArea'
    'coreItem 	. . . . . . 												infoArea'
    'coreItem 	. . . . . . 												infoArea'
    'coreItem 	. . . . . . 												infoArea'
    'coreItem 	. . . . . . 												infoArea'
	' . 		. . . . . . 												infoArea'
    'tItem 		tItem tItem tItem tItem tItem tItem 						infoArea';
  grid-template-columns: 80px 50px 50px 50px 50px 50px 50px 371px;
  grid-template-rows: 100px 50px 50px 50px 50px 50px 50px 50px 324px;
  grid-row-gap: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  width: 770px;
  height: 940px;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}

.cArea {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textArea {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  height: 100%;
  text-align:left;
  padding: 2px;
  text-indent: none;
}

.textArea h3{
  margin-top: 10px;
}

.titleArea {
  grid-area: titleArea;
}

.cItem {
  grid-area: coreItem;
}

.cost {
  grid-area: cost;
  margin-bottom: 0;
  margin-top: 0
  padding: 0px;
}

.cost p {
  text-align: center;
  display: contents;
  font-size: 14px;
  text-align:left;
  padding: 0px;
}

.cost h5 {
  text-align: center;
  display: contents;
  font-size: 16px;
  padding: 0px;
}

.empty {
  background-color: rgba(255, 255, 255, 0);
}

.bonus {
  background-color: rgba(255, 255, 255, 0.6);
}

.iItem {
  grid-area: infoArea;
  padding-left: 30px;
}

.tItem {
  grid-area: tItem;
}

.tItem p{
  font-size: 14px;
  font-style: bold;
  margin-top: 0px;
}

.tItem h4{
  font-size: 16px;
  margin-bottom: 1px;
  margin-top: 0px;
  font-weight: bold;
}

.cItem img {
  height: 70%;
  width: 70%;
  border: 3px solid rgba(0, 0, 240, 0.8); 
}

.gItem {
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  background-image: url("icons/common/frame.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.gItem img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.aItem {
  margin: auto;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px; 
}

.aItem img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: 0px;
}

.clearTextArea {
  background-color: rgba(255, 255, 255, 0.0);
  border: 0px;
  font-size: 12px;
  text-align: left;
}

.clearTextArea p{
  margin-top: 3px;
}

.clearTextArea h4 {
  font-weight: bold;
  margin-bottom: 0px;
}

.clearTextArea h5 {
  font-weight: bold;
  margin-bottom: 0px;
}

.invis {
  display: none;
}

#b1 {
  background-image: url("icons/common/bonus1.png");
}

#b2 {
  background-image: url("icons/common/bonus2.png");
}

#ch1 {
  background-image: url("icons/common/ch1.png");
}
#ch2 {
  background-image: url("icons/common/ch2.png");
}
#ch3 {
  background-image: url("icons/common/ch3.png");
}

.vonnomcore {
  background-image: url("icons/vonnom/core.png");
}

.vonnombg {
  background-image: url("icons/vonnom/bg.png");
}

.vonnomap11 {
  background-image: url("icons/vonnom/ap11.png");
}
.vonnomap12 {
  background-image: url("icons/vonnom/ap12.png");
}
.vonnomap13 {
  background-image: url("icons/vonnom/ap13.png");
}

.vonnomap21 {
  background-image: url("icons/vonnom/ap21.png");
}
.vonnomap22 {
  background-image: url("icons/vonnom/ap22.png");
}
.vonnomap23 {
  background-image: url("icons/vonnom/ap23.png");
}

.vonnomap31 {
  background-image: url("icons/vonnom/ap31.png");
}
.vonnomap32 {
  background-image: url("icons/vonnom/ap32.png");
}
.vonnomap33 {
  background-image: url("icons/vonnom/ap33.png");
}

.vonnompp1 {
  background-image: url("icons/vonnom/pp1.png");
}
.vonnompp2 {
  background-image: url("icons/vonnom/pp2.png");
}
.vonnompp3 {
  background-image: url("icons/vonnom/pp3.png");
}

.peculiarcore {
  background-image: url("icons/peculiar/core.png");
}

.peculiarbg {
  background-image: url("icons/peculiar/bg.png");
}

.peculiarap11 {
  background-image: url("icons/peculiar/ap11.png");
}
.peculiarap12 {
  background-image: url("icons/peculiar/ap12.png");
}
.peculiarap13 {
  background-image: url("icons/peculiar/ap13.png");
}

.peculiarap21 {
  background-image: url("icons/peculiar/ap21.png");
}
.peculiarap22 {
  background-image: url("icons/peculiar/ap22.png");
}
.peculiarap23 {
  background-image: url("icons/peculiar/ap23.png");
}

.peculiarap31 {
  background-image: url("icons/peculiar/ap31.png");
}
.peculiarap32 {
  background-image: url("icons/peculiar/ap32.png");
}
.peculiarap33 {
  background-image: url("icons/peculiar/ap33.png");
}

.peculiarpp1 {
  background-image: url("icons/peculiar/pp1.png");
}
.peculiarpp2 {
  background-image: url("icons/peculiar/pp2.png");
}
.peculiarpp3 {
  background-image: url("icons/peculiar/pp3.png");
}

.almarcore {
  background-image: url("icons/almar/core.png");
}

.almarbg {
  background-image: url("icons/almar/bg.png");
}

.almarap11 {
  background-image: url("icons/almar/ap11.png");
}
.almarap12 {
  background-image: url("icons/almar/ap12.png");
}
.almarap13 {
  background-image: url("icons/almar/ap13.png");
}

.almarap21 {
  background-image: url("icons/almar/ap21.png");
}
.almarap22 {
  background-image: url("icons/almar/ap22.png");
}
.almarap23 {
  background-image: url("icons/almar/ap23.png");
}

.almarap31 {
  background-image: url("icons/almar/ap31.png");
}
.almarap32 {
  background-image: url("icons/almar/ap32.png");
}
.almarap33 {
  background-image: url("icons/almar/ap33.png");
}

.almarpp1 {
  background-image: url("icons/almar/pp1.png");
}
.almarpp2 {
  background-image: url("icons/almar/pp2.png");
}
.almarpp3 {
  background-image: url("icons/almar/pp3.png");
}

.loringcore {
  background-image: url("icons/loring/core.png");
}

.loringbg {
  background-image: url("icons/loring/bg.png");
}

.loringap11 {
  background-image: url("icons/loring/ap11.png");
}
.loringap12 {
  background-image: url("icons/loring/ap12.png");
}
.loringap13 {
  background-image: url("icons/loring/ap13.png");
}

.loringap21 {
  background-image: url("icons/loring/ap21.png");
}
.loringap22 {
  background-image: url("icons/loring/ap22.png");
}
.loringap23 {
  background-image: url("icons/loring/ap23.png");
}

.loringap31 {
  background-image: url("icons/loring/ap31.png");
}
.loringap32 {
  background-image: url("icons/loring/ap32.png");
}
.loringap33 {
  background-image: url("icons/loring/ap33.png");
}

.loringpp1 {
  background-image: url("icons/loring/pp1.png");
}
.loringpp2 {
  background-image: url("icons/loring/pp2.png");
}
.loringpp3 {
  background-image: url("icons/loring/pp3.png");
}